## Importing Library

In [2]:
import pandas as pd
from datetime import datetime

## Importing Dataset

In [3]:
df1 = pd.read_excel('Data Covid 19 Selama Des 2021 - Jan 2022 DKI Jakarta.xlsx')
df1.head()

,ID Kelurahan,Nama Provinsi,Nama Kota,Nama Kecamatan,Nama Kelurahan,SUSPEK,Suspek Perawatan RS,Suspek Isolasi di Rumah,Suspek Meninggal,Suspek Selesai Isolasi,...,DISCARDED,Discarded Isolasi di Rumah,Discarded Meninggal,Discarded Selesai Isolasi,POSITIF,Positif Dirawat,Positif Sembuh,Positif Meninggal,Positif Isolasi Mandiri,Tanggal
0,3172051003,DKI JAKARTA,JAKARTA UTARA,PADEMANGAN,ANCOL,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1944,0,1917,27,0,2021-12-01
1,3173041007,DKI JAKARTA,JAKARTA BARAT,TAMBORA,ANGKE,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1841,0,1807,34,0,2021-12-01
2,3175041005,DKI JAKARTA,JAKARTA TIMUR,KRAMAT JATI,BALE KAMBANG,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2137,0,2103,34,0,2021-12-01
3,3175031003,DKI JAKARTA,JAKARTA TIMUR,JATINEGARA,BALI MESTER,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,865,0,847,18,0,2021-12-01
4,3175101006,DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,BAMBU APUS,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3015,0,2984,31,0,2021-12-01

In [4]:
df2 = pd.read_excel('Data COVID-19 Jawa Barat.xlsx')

In [5]:
df3 = pd.read_excel('Data COVID-19 Jawa Timur.xlsx')

In [6]:
df4 = pd.read_csv('waze 1.csv')

In [7]:
df5 = pd.read_csv('waze 2.csv')

In [8]:
df6 = pd.read_excel('Nama Jalan Waze Per Kecamatan DKI Jakarta.xlsx')

## Data Understanding

In [8]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16678 entries, 0 to 16677
Data columns (total 33 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID Kelurahan                16678 non-null  object
 1   Nama Provinsi               16678 non-null  object
 2   Nama Kota                   16678 non-null  object
 3   Nama Kecamatan              16678 non-null  object
 4   Nama Kelurahan              16678 non-null  object
 5   SUSPEK                      538 non-null    float64
 6   Suspek Perawatan RS         538 non-null    float64
 7   Suspek Isolasi di Rumah     538 non-null    float64
 8   Suspek Meninggal            538 non-null    float64
 9   Suspek Selesai Isolasi      538 non-null    float64
 10  PROBABLE                    538 non-null    float64
 11  Probable Perawatan RS       538 non-null    float64
 12  Probable Isolasi di Rumah   538 non-null    float64
 13  Probable Meninggal          538 non-null    float64
 14  Probable Selesai Isolasi    538 non-null    float64
 15  PELAKU PERJALANAN           538 non-null    float64
 16  PP Perawatan RS             538 non-null    float64
 17  PP Isolasi di Rumah         538 non-null    float64
 18  PP Selesai Isolasi          538 non-null    float64
 19  KONTAK ERAT                 538 non-null    float64
 20  KE Perawatan RS             538 non-null    float64
 21  KE Isolasi di Rumah         538 non-null    float64
 22  KE Selesai Isolasi          538 non-null    float64
 23  DISCARDED                   538 non-null    float64
 24  Discarded Isolasi di Rumah  538 non-null    float64
 25  Discarded Meninggal         538 non-null    float64
 26  Discarded Selesai Isolasi   538 non-null    float64
 27  POSITIF                     16678 non-null  int64
 28  Positif Dirawat             16678 non-null  int64
 29  Positif Sembuh              16678 non-null  int64
 30  Positif Meninggal           16678 non-null  int64
 31  Positif Isolasi Mandiri     16678 non-null  int64
 32  Tanggal                     16678 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(22), int64(5), object(5)
memory usage: 4.2+ MB

In [9]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16072 entries, 0 to 16071
Data columns (total 31 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   tanggal                               16072 non-null  object
 1   kode_prov                             16072 non-null  int64
 2   nama_prov                             16072 non-null  object
 3   kode_kab                              16072 non-null  int64
 4   nama_kab                              16072 non-null  object
 5   closecontact_total                    16072 non-null  int64
 6   closecontact_discarded                16072 non-null  int64
 7   closecontact_dikarantina              16072 non-null  int64
 8   suspect_total                         16072 non-null  int64
 9   suspect_discarded                     16072 non-null  int64
 10  suspect_diisolasi                     16072 non-null  int64
 11  probable_total                        16072 non-null  int64
 12  probable_discarded                    16072 non-null  int64
 13  probable_diisolasi                    16072 non-null  int64
 14  probable_meninggal                    16072 non-null  int64
 15  confirmation_total                    16072 non-null  int64
 16  confirmation_selesai                  16072 non-null  int64
 17  confirmation_meninggal                16072 non-null  int64
 18  pertumbuhan_closecontact_total        16072 non-null  int64
 19  pertumbuhan_closecontact_discarded    16072 non-null  int64
 20  pertumbuhan_closecontact_dikarantina  16072 non-null  int64
 21  pertumbuhan_suspect_total             16072 non-null  int64
 22  pertumbuhan_suspect_discarded         16072 non-null  int64
 23  pertumbuhan_suspect_diisolasi         16072 non-null  int64
 24  pertumbuhan_probable_total            16072 non-null  int64
 25  pertumbuhan_probable_discarded        16072 non-null  int64
 26  pertumbuhan_probable_diisolasi        16072 non-null  int64
 27  pertumbuhan_probable_meninggal        16072 non-null  int64
 28  pertumbuhan_confirmation_total        16072 non-null  int64
 29  pertumbuhan_confirmation_selesai      16072 non-null  int64
 30  pertumbuhan_confirmation_meninggal    16072 non-null  int64
dtypes: int64(28), object(3)
memory usage: 3.8+ MB

In [10]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2418 entries, 0 to 2417
Data columns (total 80 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   tanggal                            2418 non-null   datetime64[ns]
 1   Kabupaten/Kota                     2418 non-null   object
 2   Risiko Sebelumnya                  2356 non-null   object
 3   Skor Sebelumnya                    2356 non-null   float64
 4   Status Risiko                      2356 non-null   object
 5   Skor Risiko                        2356 non-null   float64
 6   Konfirmasi (Sebelum)               2418 non-null   int64
 7   Konfirmasi (Penambahan)            2418 non-null   int64
 8   Konfirmasi                         2418 non-null   int64
 9   Sembuh (Sebelum)                   2418 non-null   int64
 10  Sembuh (Penambahan)                2418 non-null   int64
 11  Sembuh                             2418 non-null   int64
 12  Recovery Rate                      2418 non-null   float64
 13  Meninggal (Sebelum)                2418 non-null   int64
 14  Meninggal (Penambahan)             2418 non-null   int64
 15  Meninggal                          2418 non-null   int64
 16  Fatality Rate                      2418 non-null   float64
 17  Bergejala (Sebelum)                2418 non-null   int64
 18  Bergejala (Penambahan)             2418 non-null   int64
 19  Bergejala                          2418 non-null   int64
 20  Tanpa Gejala (Sebelum)             2418 non-null   int64
 21  Tanpa Gejala (Penambahan)          2418 non-null   int64
 22  Tanpa Gejala                       2418 non-null   int64
 23  Perjalanan (Sebelum)               2418 non-null   int64
 24  Perjalanan (Penambahan)            2418 non-null   int64
 25  Perjalanan                         2418 non-null   int64
 26  Kontak (Sebelum)                   2418 non-null   int64
 27  Kontak (Penambahan)                2418 non-null   int64
 28  Kontak                             2418 non-null   int64
 29  Tanpa Riwayat (Sebelum)            2418 non-null   int64
 30  Tanpa Riwayat (Penambahan)         2418 non-null   int64
 31  Tanpa Riwayat                      2418 non-null   int64
 32  Suspek (Sebelum)                   2418 non-null   int64
 33  Suspek (Penambahan)                2418 non-null   int64
 34  Suspek                             2418 non-null   int64
 35  Probabel (Sebelum)                 2418 non-null   int64
 36  Probabel (Penambahan)              2418 non-null   int64
 37  Probabel                           2418 non-null   int64
 38  Suspek Diisolasi (Sebelum)         2418 non-null   int64
 39  Suspek Diisolasi (Penambahan)      2418 non-null   int64
 40  Suspek Diisolasi                   2418 non-null   int64
 41  Suspek Discarded (Sebelum)         2418 non-null   int64
 42  Suspek Discarded (Penambahan)      2418 non-null   int64
 43  Suspek Discarded                   2418 non-null   int64
 44  Suspek Meninggal (Sebelum)         2418 non-null   int64
 45  Suspek Meninggal (Penambahan)      2418 non-null   int64
 46  Suspek Meninggal                   2418 non-null   int64
 47  Kontak Dilacak (Sebelum)           2418 non-null   int64
 48  Kontak Dilacak (Penambahan)        2418 non-null   int64
 49  Kontak Dilacak                     2418 non-null   int64
 50  Kontak Baru (Sebelum)              2418 non-null   int64
 51  Kontak Baru (Penambahan)           2418 non-null   int64
 52  Kontak Baru                        2418 non-null   int64
 53  Kontak Konfirmasi (Sebelum)        2418 non-null   int64
 54  Kontak Konfirmasi (Penambahan)     2418 non-null   int64
 55  Kontak Konfirmasi                  2418 non-null   int64
 56  Kontak Suspek (Sebelum)            2418 non-null   int64
 57  Kontak Suspek (Penambahan)         2418 non-null   int64
 58  Kontak Suspek                      2418 non-null   int64
 59  Kontak Discarded (Sebelum)         2418 non-null   int64
 60  Kontak Discarded (Penambahan)      2418 non-null   int64
 61  Kontak Discarded                   2418 non-null   int64
 62  Kontak Mangkir (Sebelum)           2418 non-null   int64
 63  Kontak Mangkir (Penambahan)        2418 non-null   int64
 64  Kontak Mangkir                     2418 non-null   int64
 65  Pemeriksaan Spesimen (Sebelum)     2418 non-null   int64
 66  Pemeriksaan Spesimen (Penambahan)  2418 non-null   int64
 67  Pemeriksaan Spesimen               2418 non-null   int64
 68  Rapid (Sebelum)                    2418 non-null   int64
 69  Rapid (Penambahan)                 2418 non-null   int64
 70  Rapid                              2418 non-null   int64
 71  Rapid Reaktif (Sebelum)            2418 non-null   int64
 72  Rapid Reaktif (Penambahan)         2418 non-null   int64
 73  Rapid Reaktif                      2418 non-null   int64
 74  Reaktif RT-PCR (Sebelum)           2418 non-null   int64
 75  Reaktif RT-PCR (Penambahan)        2418 non-null   int64
 76  Reaktif RT-PCR                     2418 non-null   int64
 77  Reaktif RT-PCR (+) (Sebelum)       2418 non-null   int64
 78  Reaktif RT-PCR (+) (Penambahan)    2418 non-null   int64
 79  Reaktif RT-PCR (+)                 2418 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(72), object(3)
memory usage: 1.5+ MB

In [11]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 425089 entries, 0 to 425088
Data columns (total 12 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   uuid       425089 non-null  int64
 1   date       425089 non-null  object
 2   date_part  425089 non-null  int64
 3   city       425089 non-null  object
 4   street     425089 non-null  object
 5   line_x     425089 non-null  float64
 6   line_y     425089 non-null  float64
 7   level      425089 non-null  int64
 8   speed_kmh  425089 non-null  float64
 9   length     425089 non-null  int64
 10  road_type  425089 non-null  int64
 11  delay      425089 non-null  int64
dtypes: float64(3), int64(6), object(3)
memory usage: 38.9+ MB

In [12]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 832902 entries, 0 to 832901
Data columns (total 12 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   uuid       832902 non-null  int64
 1   date       832902 non-null  object
 2   date_part  832902 non-null  int64
 3   city       832902 non-null  object
 4   street     832902 non-null  object
 5   line_x     832902 non-null  float64
 6   line_y     832902 non-null  float64
 7   level      832902 non-null  int64
 8   speed_kmh  832902 non-null  float64
 9   length     832902 non-null  int64
 10  road_type  832902 non-null  int64
 11  delay      832902 non-null  int64
dtypes: float64(3), int64(6), object(3)
memory usage: 76.3+ MB

In [5]:
df1.shape

(16678, 33)

In [6]:
df1.columns

Index(['ID Kelurahan', 'Nama Provinsi', 'Nama Kota', 'Nama Kecamatan',
       'Nama Kelurahan', 'SUSPEK', 'Suspek Perawatan RS',
       'Suspek Isolasi di Rumah ', 'Suspek Meninggal',
       'Suspek Selesai Isolasi ', 'PROBABLE', 'Probable Perawatan RS ',
       'Probable Isolasi di Rumah', 'Probable Meninggal',
       'Probable Selesai Isolasi', 'PELAKU PERJALANAN', 'PP Perawatan RS',
       'PP Isolasi di Rumah', 'PP Selesai Isolasi', 'KONTAK ERAT',
       'KE Perawatan RS', 'KE Isolasi di Rumah', 'KE Selesai Isolasi',
       'DISCARDED', 'Discarded Isolasi di Rumah', 'Discarded Meninggal',
       'Discarded Selesai Isolasi', 'POSITIF', 'Positif Dirawat',
       'Positif Sembuh', 'Positif Meninggal', 'Positif Isolasi Mandiri',
       'Tanggal'],
      dtype='object')

In [7]:
df1['Nama Kota'].unique()

array(['JAKARTA UTARA', 'JAKARTA BARAT', 'JAKARTA TIMUR',
       'JAKARTA SELATAN', 'JAKARTA PUSAT', 'LUAR DKI JAKARTA',
       'PROSES UPDATE DATA', 'KAB.ADM.KEP.SERIBU'], dtype=object)

In [8]:
df1['Nama Kecamatan'].unique()

array(['PADEMANGAN', 'TAMBORA', 'KRAMAT JATI', 'JATINEGARA', 'CIPAYUNG',
       'MAMPANG PRAPATAN', 'PASAR REBO', 'TANAH ABANG', 'PESANGGRAHAN',
       'TEBET', 'SENEN', 'CAKUNG', 'KEMAYORAN', 'CEMPAKA PUTIH',
       'CENGKARENG', 'CIRACAS', 'GAMBIR', 'JAGAKARSA', 'MENTENG',
       'PANCORAN', 'CILANDAK', 'PASAR MINGGU', 'CILINCING',
       'KEBAYORAN BARU', 'PULO GADUNG', 'MAKASAR', 'KEBAYORAN LAMA',
       'DUREN SAWIT', 'KEBON JERUK', 'JOHAR BARU', 'TAMAN SARI',
       'GROGOL PETAMBURAN', 'SETIA BUDI', 'SAWAH BESAR', 'PALMERAH',
       'KEMBANGAN', 'KALI DERES', 'PENJARINGAN', 'MATRAMAN',
       'TANJUNG PRIOK', 'KELAPA GADING', 'KOJA', 'LUAR DKI JAKARTA',
       'PROSES UPDATE DATA', 'KEP. SERIBU UTARA', 'KEP. SERIBU SELATAN'],
      dtype=object)

In [9]:
df1[df1['Nama Kota'] == 'LUAR DKI JAKARTA']

,ID Kelurahan,Nama Provinsi,Nama Kota,Nama Kecamatan,Nama Kelurahan,SUSPEK,Suspek Perawatan RS,Suspek Isolasi di Rumah,Suspek Meninggal,Suspek Selesai Isolasi,...,DISCARDED,Discarded Isolasi di Rumah,Discarded Meninggal,Discarded Selesai Isolasi,POSITIF,Positif Dirawat,Positif Sembuh,Positif Meninggal,Positif Isolasi Mandiri,Tanggal
144,LUAR DKI JAKARTA,LUAR DKI JAKARTA,LUAR DKI JAKARTA,LUAR DKI JAKARTA,LUAR DKI JAKARTA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,92111,1,91493,616,1,2021-12-01
413,LUAR DKI JAKARTA,LUAR DKI JAKARTA,LUAR DKI JAKARTA,LUAR DKI JAKARTA,LUAR DKI JAKARTA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,92180,0,91560,618,2,2021-12-02
682,LUAR DKI JAKARTA,LUAR DKI JAKARTA,LUAR DKI JAKARTA,LUAR DKI JAKARTA,LUAR DKI JAKARTA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,92180,0,91560,618,2,2021-12-03
951,LUAR DKI JAKARTA,LUAR DKI JAKARTA,LUAR DKI JAKARTA,LUAR DKI JAKARTA,LUAR DKI JAKARTA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,92180,0,91560,618,2,2021-12-04
1220,LUAR DKI JAKARTA,LUAR DKI JAKARTA,LUAR DKI JAKARTA,LUAR DKI JAKARTA,LUAR DKI JAKARTA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,92183,2,91561,618,2,2021-12-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15477,LUAR DKI JAKARTA,LUAR DKI JAKARTA,LUAR DKI JAKARTA,LUAR DKI JAKARTA,LUAR DKI JAKARTA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,95252,356,93086,622,1188,2022-01-27
15746,LUAR DKI JAKARTA,LUAR DKI JAKARTA,LUAR DKI JAKARTA,LUAR DKI JAKARTA,LUAR DKI JAKARTA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,95258,309,93328,622,999,2022-01-28
16015,LUAR DKI JAKARTA,LUAR DKI JAKARTA,LUAR DKI JAKARTA,LUAR DKI JAKARTA,LUAR DKI JAKARTA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,95268,228,93622,622,796,2022-01-29
16284,LUAR DKI JAKARTA,LUAR DKI JAKARTA,LUAR DKI JAKARTA,LUAR DKI JAKARTA,LUAR DKI JAKARTA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,95288,140,93959,624,565,2022-01-30
16553,LUAR DKI JAKARTA,LUAR DKI JAKARTA,LUAR DKI JAKARTA,LUAR DKI JAKARTA,LUAR DKI JAKARTA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,91258,35,90515,615,93,2022-01-31

In [10]:
df1[df1['Nama Kota'] ==  'PROSES UPDATE DATA']

,ID Kelurahan,Nama Provinsi,Nama Kota,Nama Kecamatan,Nama Kelurahan,SUSPEK,Suspek Perawatan RS,Suspek Isolasi di Rumah,Suspek Meninggal,Suspek Selesai Isolasi,...,DISCARDED,Discarded Isolasi di Rumah,Discarded Meninggal,Discarded Selesai Isolasi,POSITIF,Positif Dirawat,Positif Sembuh,Positif Meninggal,Positif Isolasi Mandiri,Tanggal
203,PROSES UPDATE DATA,PROSES UPDATE DATA,PROSES UPDATE DATA,PROSES UPDATE DATA,PROSES UPDATE DATA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,49906,84,49077,655,90,2021-12-01
472,PROSES UPDATE DATA,PROSES UPDATE DATA,PROSES UPDATE DATA,PROSES UPDATE DATA,PROSES UPDATE DATA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,50921,83,49802,655,381,2021-12-02
741,PROSES UPDATE DATA,PROSES UPDATE DATA,PROSES UPDATE DATA,PROSES UPDATE DATA,PROSES UPDATE DATA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,51058,98,49814,655,491,2021-12-03
1010,PROSES UPDATE DATA,PROSES UPDATE DATA,PROSES UPDATE DATA,PROSES UPDATE DATA,PROSES UPDATE DATA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,51151,92,49851,655,553,2021-12-04
1279,PROSES UPDATE DATA,PROSES UPDATE DATA,PROSES UPDATE DATA,PROSES UPDATE DATA,PROSES UPDATE DATA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,51378,101,49918,655,704,2021-12-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15536,PROSES UPDATE DATA,PROSES UPDATE DATA,PROSES UPDATE DATA,PROSES UPDATE DATA,PROSES UPDATE DATA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,57203,341,54999,662,1201,2022-01-27
15805,PROSES UPDATE DATA,PROSES UPDATE DATA,PROSES UPDATE DATA,PROSES UPDATE DATA,PROSES UPDATE DATA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,57508,331,55246,662,1269,2022-01-28
16074,PROSES UPDATE DATA,PROSES UPDATE DATA,PROSES UPDATE DATA,PROSES UPDATE DATA,PROSES UPDATE DATA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,58042,350,55522,663,1507,2022-01-29
16343,PROSES UPDATE DATA,PROSES UPDATE DATA,PROSES UPDATE DATA,PROSES UPDATE DATA,PROSES UPDATE DATA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,58525,369,55820,667,1669,2022-01-30
16612,PROSES UPDATE DATA,PROSES UPDATE DATA,PROSES UPDATE DATA,PROSES UPDATE DATA,PROSES UPDATE DATA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,62529,408,59242,698,2181,2022-01-31

In [6]:
print('Total Data Duplikat :', )
for item in df1 :
     print ('â€¢', item + '=', df1.duplicated().sum())

Total Data Duplikat :
â€¢ ID Kelurahan= 0
â€¢ Nama Provinsi= 0
â€¢ Nama Kota= 0
â€¢ Nama Kecamatan= 0
â€¢ Nama Kelurahan= 0
â€¢ SUSPEK= 0
â€¢ Suspek Perawatan RS= 0
â€¢ Suspek Isolasi di Rumah = 0
â€¢ Suspek Meninggal= 0
â€¢ Suspek Selesai Isolasi = 0
â€¢ PROBABLE= 0
â€¢ Probable Perawatan RS = 0
â€¢ Probable Isolasi di Rumah= 0
â€¢ Probable Meninggal= 0
â€¢ Probable Selesai Isolasi= 0
â€¢ PELAKU PERJALANAN= 0
â€¢ PP Perawatan RS= 0
â€¢ PP Isolasi di Rumah= 0
â€¢ PP Selesai Isolasi= 0
â€¢ KONTAK ERAT= 0
â€¢ KE Perawatan RS= 0
â€¢ KE Isolasi di Rumah= 0
â€¢ KE Selesai Isolasi= 0
â€¢ DISCARDED= 0
â€¢ Discarded Isolasi di Rumah= 0
â€¢ Discarded Meninggal= 0
â€¢ Discarded Selesai Isolasi= 0
â€¢ POSITIF= 0
â€¢ Positif Dirawat= 0
â€¢ Positif Sembuh= 0
â€¢ Positif Meninggal= 0
â€¢ Positif Isolasi Mandiri= 0
â€¢ Tanggal= 0

In [7]:
print ('Total Data Kosong :')
for item in df1 :
     print ('â€¢', item + '=', (df1[item].isnull().sum()))

Total Data Kosong :
â€¢ ID Kelurahan= 0
â€¢ Nama Provinsi= 0
â€¢ Nama Kota= 0
â€¢ Nama Kecamatan= 0
â€¢ Nama Kelurahan= 0
â€¢ SUSPEK= 16140
â€¢ Suspek Perawatan RS= 16140
â€¢ Suspek Isolasi di Rumah = 16140
â€¢ Suspek Meninggal= 16140
â€¢ Suspek Selesai Isolasi = 16140
â€¢ PROBABLE= 16140
â€¢ Probable Perawatan RS = 16140
â€¢ Probable Isolasi di Rumah= 16140
â€¢ Probable Meninggal= 16140
â€¢ Probable Selesai Isolasi= 16140
â€¢ PELAKU PERJALANAN= 16140
â€¢ PP Perawatan RS= 16140
â€¢ PP Isolasi di Rumah= 16140
â€¢ PP Selesai Isolasi= 16140
â€¢ KONTAK ERAT= 16140
â€¢ KE Perawatan RS= 16140
â€¢ KE Isolasi di Rumah= 16140
â€¢ KE Selesai Isolasi= 16140
â€¢ DISCARDED= 16140
â€¢ Discarded Isolasi di Rumah= 16140
â€¢ Discarded Meninggal= 16140
â€¢ Discarded Selesai Isolasi= 16140
â€¢ POSITIF= 0
â€¢ Positif Dirawat= 0
â€¢ Positif Sembuh= 0
â€¢ Positif Meninggal= 0
â€¢ Positif Isolasi Mandiri= 0
â€¢ Tanggal= 0

## Data Cleaning

In [9]:
df1.fillna(0,inplace = True)
df1.drop(df1[df1['Nama Kota'] == 'LUAR DKI JAKARTA'].index, inplace = True)
df1.drop(df1[df1['Nama Kota'] ==  'PROSES UPDATE DATA'].index, inplace = True)
df1.drop(['ID Kelurahan','Nama Provinsi'],axis = 1, inplace = True)

In [10]:
df2['tanggal']= pd.to_datetime(df2['tanggal'])
df2 = df2[df2['tanggal'].between('2021-12-1','2022-1-31')]

In [11]:
df3.fillna(0,inplace = True)

In [12]:
df_waze = pd.concat([df4,df5],axis = 0)
df_waze = pd.merge(df_waze,df6,how ='left',on='street')
df_waze.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5'],axis = 1, inplace = True)
df_waze = df_waze.rename(columns={'date':'Tanggal'})

In [14]:
df = pd.concat([df4,df5],axis = 0)
df

,uuid,date,date_part,city,street,line_x,line_y,level,speed_kmh,length,road_type,delay
0,1200602966,2021-12-01,6,Jakarta Timur,Dewi Sartika,106.863746,-6.257877,2,27.19,1544,7,83
1,1200602966,2021-12-01,6,Jakarta Timur,Dewi Sartika,106.863771,-6.258078,2,27.19,1544,7,83
2,1200602966,2021-12-01,6,Jakarta Timur,Dewi Sartika,106.863861,-6.258239,2,27.19,1544,7,83
3,1200602966,2021-12-01,6,Jakarta Timur,Dewi Sartika,106.864023,-6.258702,2,27.19,1544,7,83
4,1200690028,2021-12-01,6,Jakarta Timur,Jalan Raya Bogor,106.868701,-6.338712,2,24.42,3211,6,222
...,...,...,...,...,...,...,...,...,...,...,...,...
832897,62485110,2022-01-31,20,Jakarta Pusat,MH Thamrin,106.823139,-6.183307,2,16.58,683,7,66
832898,62485110,2022-01-31,20,Jakarta Pusat,MH Thamrin,106.823016,-6.181056,2,16.58,683,7,66
832899,62485110,2022-01-31,20,Jakarta Pusat,MH Thamrin,106.823085,-6.180809,2,16.58,683,7,66
832900,61666856,2022-01-31,20,Jakarta Timur,Pahlawan Revolusi,106.898739,-6.227412,2,18.31,1265,7,127
832901,61882050,2022-01-31,20,Jakarta Selatan,Tebet Raya,106.847375,-6.228937,2,13.35,944,2,106

## Export Clean Dataset

In [6]:
df1.to_excel("Covid-19 DKI Jakarta - Clean.xlsx",index=False)

In [6]:
df2.to_excel("Covid-19 Jawa Barat - Clean.xlsx",index=False)

In [8]:
df3.to_excel("Covid-19 Jawa Timur - Clean.xlsx",index=False)

In [9]:
df_waze.to_csv('Data Jalan DKI Jakarta Waze - Clean.csv',index=False)